
@{
    ViewBag.Title = "Control del servicio";
}

<h2>Activar proceso de ejecución</h2>

@if (ViewBag.Status == "false")
{
    <div>
        <p>@Html.ActionLink("Activar", "Active", "ControlGestCorService", new { @class = "btn btn-default" })</p>
        <br />
        <p></p>
        <p>@Html.ActionLink("Desactivar", "Desactive", "ControlGestCorService", new { @class = "btn btn-default disabled" })</p>
        <br />
    </div>
    <br />
}
else if(ViewBag.Status == "true")
{
    <div>
        <p>@Html.ActionLink("Activar", "Active", "ControlGestCorService", new { @class= "btn btn-default disabled" })</p>
        <br />
        <p></p>
        <p>@Html.ActionLink("Desactivar", "Desactive", "ControlGestCorService", new { @class = "btn btn-default" })</p>
        <br />
    </div>
    <br />
}
else
{
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">El servicio no se encuentra disponible en el servidor</h2>
}

<p class="text-danger"> @ViewBag.Script</p>
