@model IEnumerable<GestCor.Models.GestCorProfile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfiles de usuario</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameModule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsValid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameProfile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameModule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsValid)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
