@model GestCor.Models.Ytbl_ProgCorteModels

@{
    ViewBag.Title = "Desactivar corte";
}

<h2>Desactivar/Activar corte</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Document_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Document_Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Document_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Number_Upload, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Number_Upload, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Customer_Number_Upload, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nick_User, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nick_User, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Nick_User, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date_Upload, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date_Upload, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Date_Upload, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsValid, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.RadioButtonFor(m => m.IsValid, "Y", new { @class = "radio-inline" }) Yes
                @Html.RadioButtonFor(m => m.IsValid, "N", new { @class = "radio-inline" }) No
                
                @Html.ValidationMessageFor(model => model.IsValid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
<<<<<<< HEAD
                <input type="submit" value="Guardar" class="btn btn-default" onclick="validateEdit()" />
=======
                <input type="submit" value="Guardar programación" class="btn btn-default" onclick="validateEdit()" />
>>>>>>> cambioApariencia
            </div>
        </div>
    </div>
    <input type="hidden" name="Edit" id="Edit" />
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@{
    <script type="text/javascript">
        function validateEdit() {
            $("#Edit").val(confirm("¿Desea editar el registro?"));
        }
    </script>
}



