@model IEnumerable<GestCor.Models.ContextReport>

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultados</h2>

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cpartyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpartyAccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idProgCorte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.formaPago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.banco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.business)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaProgramada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cpartyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpartyAccountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idProgCorte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.formaPago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.banco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.business)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaProgramada)
        </td>
        <td class="text-hide">
            @Html.ActionLink("Exportar a Excel", "ExportToExcel", new { id = item.idProgCorte }) |
        </td>
    </tr>
}
</table>
<div>
    
    <input type="submit" value="Export to Excel" class="btn btn-primary" />
</div>
}
