
@{
    ViewBag.Title = "Control del servicio";
}

<h2>Activar proceso de ejecución</h2>

@if (ViewBag.Status == false)
{
    <div>
        <p class="btn btn-default">@Html.ActionLink("Activar", "Active", "ControlGestCorService")</p>
        <br />
        <p></p>
        <p class="btn btn-default disabled">@Html.ActionLink("Desactivar", "Desactive", "ControlGestCorService")</p>
        <br />
    </div>
    <br />
}
else
{
    <div>
        <p class="btn btn-default disabled">@Html.ActionLink("Activar", "Active", "ControlGestCorService")</p>
        <br />
        <p></p>
        <p class="btn btn-default">@Html.ActionLink("Desactivar", "Desactive", "ControlGestCorService")</p>
        <br />
    </div>
    <br />
}

<p class="text-danger"> @ViewBag.Script</p>
